.patientCard { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 30px;
  border-bottom: 1px solid var(--grey);
}

.patientCard h3 { 
  font-size: 0.8em;
}
.patientCard p { 
  font-size: 0.8em;
}